<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      Library
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body class="text-center">
    <h1><strong>Page not found</strong></h1>
   <a title="© Michael Gäbler / Wikimedia Commons, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File%3ABubo_scandiacus_(Linnaeus%2C_1758)_Male.jpg"><img width="1024" alt="Bubo scandiacus (Linnaeus, 1758) Male" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Bubo_scandiacus_%28Linnaeus%2C_1758%29_Male.jpg/1024px-Bubo_scandiacus_%28Linnaeus%2C_1758%29_Male.jpg" class="visible-lg center-block"/></a>
    <a title="© Michael Gäbler / Wikimedia Commons, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File%3ABubo_scandiacus_(Linnaeus%2C_1758)_Male.jpg"><img width="256" alt="Bubo scandiacus (Linnaeus, 1758) Male" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Bubo_scandiacus_%28Linnaeus%2C_1758%29_Male.jpg/256px-Bubo_scandiacus_%28Linnaeus%2C_1758%29_Male.jpg" class="hidden-lg center-block"/></a>
    <h2>Click here to escape</h2>
    <div class="btn-group">
      <a href="/"><button>Escape button!</button></a>
    </div>
  </body>
</html>
