{% extends 'basic_layout.html' %}

{% block body %}

<div class="page-header">
  <h3 class="text-center">{% if author.surname %}{{author.surname}} {% endif %} {{author.name}}'s personal page</h3>
</div>

<div id="edit-button">
  <a href="{{url_for('frontend.edit_author', author_id=author.id)}}" class="btn-sm btn-info pull-right" role="button">EDIT</a>
</div>

<div class="text-center">
  In case the information provided on this page is incorrect, please be sure to right the wrongs!
</div>


<div class="panel panel-default">
  <div class="panel-heading"><strong>Author info</strong></div>
       <div class="panel-body">
         {% if author.description %}
         {{author.description}}
         {% else %}
         No information.
         {% endif %}
       </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><strong>Bibliography</strong></div>
       <div class="panel-body">
         {% if author.books %}
         <div class="list-group">
           {% for book in author.books %}
           <a href="{{url_for('frontend.show_book', book_id=book.id)}}" class="list-group-item">
             {{book.title}}
           </a>
           {% endfor %}
         </div>
         {% else %}
         <div>
           Sorry! No items available
         </div>
         {% endif %}
       </div>
</div>

<div id="deletion-interface-container"></div>

{% endblock body %}


{% block custom_links_js %}
<script src="{{ url_for('static', filename='js/entityDeletion.js') }}"></script>
{% endblock %}


{% block custom_js %}
<script type='text/javascript'>

$(document).ready(function() {
  entityDeletionListener(
    "{{url_for('api.delete_entity', entity_type='author', entity_id=author.id)}}",
    $('#deletion-interface-container'),
    "{{url_for('frontend.show_all_authors')}}",
    "author"
  );
});


</script>
{% endblock %}
