{% extends 'basic_layout.html' %}

{% block body %}

<div>
<form method="POST" action="{{url_for('security.forgot_password')}}">
  {{forgot_password_form.csrf_token}}
  <div class="form-group {% if forgot_password_form.email.errors %}has-error{% endif %}">
    {{forgot_password_form.email.label(class_="control-label")}}
    {{forgot_password_form.email(class_="form-control", placeholder="Enter your email...")}}
    {% if forgot_password_form.email.errors %}
    <span class="help-block">{{ ' '.join(forgot_password_form.email.errors) }}</span>
    {% endif %}
  </div>
  <div>
    {{forgot_password_form.submit()}}
  </div>
</form>
</div>

<div style="margin-top: 2em">
  <ul class="list-group">
    <a href="{{url_for('security.login')}}" class="list-group-item active">
      <h4 class="list-group-item-heading"> <span class="glyphicon glyphicon-king" aria-hidden="true"></span> Wanna try and login instead?</h4>
      <p class="list-group-item-text"> A sudden remembrance has struck your head -- come and try your luck at it again!</p>
    </a>
    <a href="{{url_for('security.register')}}" class="list-group-item active">
      <h4 class="list-group-item-heading"> <span class="glyphicon glyphicon-king" aria-hidden="true"></span>Never ever had anything to recover? Please do register then to acquire access to our amazing Internet services</h4>
      <p class="list-group-item-text"> Guess what? In that case, we've got what you need as well!</p>
    </a>
  </ul>
</div>

{% endblock body %}
